<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-zebra-printer-wifi-bt"
        version="1.0">

    <name>ZebraPrinter_WIFI_BT</name>
    <description>A Cordova driver for Zebra wifi + bluetooth printers</description>
    <license>Apache</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/ZebraPrinter_WIFI_BT.js" name="ZebraPrinter_WIFI_BT">
        <clobbers target="cordova.plugins.ZebraPrinter_WIFI_BT" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <framework src="com.fasterxml.jackson.core:jackson-annotations:2.2.3" />
        <framework src="com.fasterxml.jackson.core:jackson-core:2.2.3" />
        <framework src="com.fasterxml.jackson.core:jackson-databind:2.2.3" />

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
		<source-file src="src/android/src/ZebraPrinter_WIFI_BT.java" target-dir="src/android/src" />
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ZebraPrinter_WIFI_BT">
				<param name="android-package" value="it.cordova.plugins.ZebraPrinter_WIFI_BT" />
			</feature>
        </config-file>

        <source-file src="src/android/lib/ZSDK_ANDROID_API.jar" target-dir="libs"/>

    </platform>
</plugin>